# Composer
/vendor/

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Cache et logs (si tu utilises Symfony/Laravel plus tard)
/var/
/storage/*.key
/storage/logs/
/storage/framework/*

# IDE
.idea/
.vscode/
*.sublime-*

# Système Windows
Thumbs.db
Desktop.ini
.DS_Store

# Node (si tu as du JS plus tard)
node_modules/
